:root {
  --carousel-temp-transform: translateX(0);
}

.custom-carousel {
  position: relative;
  line-height: 0;
  @include svg-circle(
    $svg-color: #fff,
    $wrapper-color: transparent,
    $wrapper-width: 2.25rem,
    $svg-width: 1.6rem
  );
  &-counter {
    @include curtain($primary, 0.5, absolute, -1);
    bottom: 0;
    left: 0;
    padding: 5px 8px;
    line-height: 1;
    z-index: 1;
  }
  &-inner {
    white-space: nowrap;
  }
  &-item {
    white-space: normal;
    display: inline-flex;
  }
  &-indicator {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: $gray-600;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      transition: 0.35s background-color;
    }
    display: block;
    height: 30px;
    width: 30px;
    margin: 2px;
    border-radius: 50%;
    &.active::after,
    &:hover::after {
      background-color: $primary;
    }
    &.active::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid $primary;
      border-radius: 50%;
    }
    &-wrapper {
      line-height: 0;
    }
  }
  &-control-left,
  &-control-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    .custom-carousel-svg {
      transform: translate(calc(-50% + 2px), -50%);
      &-wrapper::before {
        opacity: 0.1;
        transition: opacity 0.35s;
      }
      &-wrapper:hover::before {
        opacity: 1;
      }
      &-wrapper {
        opacity: 0.4;
        transition: opacity 0.35s;
      }
      &-wrapper:hover {
        opacity: 1;
      }
    }
  }
  &-control-left {
    left: 1rem;
    // transform: translateY(-50%) rotate(180deg);
  }
  &-control-right {
    right: 1rem;
  }
}

.wrapper {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 66.67%;
  user-select: none;
}

.main-carousel-component-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.custom-carousel-indicator-image {
  display: inline-flex;
  position: relative;
  width: 100px;
  &:before {
    z-index: 0;
  }
  .wrapper {
    user-select: none;
    @include curtain();
    &::before {
      z-index: 1;
    }
  }
  .wrapper .main-carousel-component-item {
    z-index: 0;
  }
  &.active .wrapper:before,
  &:active .wrapper:before,
  &:hover .wrapper:before {
    opacity: 0;
  }
}

.custom-carousel-indicator-anchor {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
  }
}

.btn-expand-svg {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  opacity: 0.4;
  transition: opacity 0.35s, background-color 0.35s;
  padding: 5px;
  line-height: 1;
  background-color: #112;
  border-color: transparent;
  &:hover {
    background-color: #112;
  }
  .expand-carousel-svg {
    fill: #fff;
    width: 1.2rem;
  }
  &:hover {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.custom-carousel-indicator-wrapper {
  animation-duration: 0.35s;
  left: 0;
}

.custom-carousel-modal {
  & .btn-close {
    position: absolute;
    z-index: 1000;
    right: 27px;
    top: 27px;
  }
}

.custom-carousel-controls-on-hover {
  & .custom-carousel-control-right {
    transition: transform 0.35s;
    transform: translateX(52px);
  }

  & .custom-carousel-control-left {
    transition: transform 0.35s;
    transform: translateX(-52px);
  }

  & .custom-carousel-counter {
    transition: transform 0.35s;
    transform: translateY(26px);
  }

  &:hover .custom-carousel-control-right,
  &:hover .custom-carousel-control-left {
    transform: translateX(0);
  }
  &:hover .custom-carousel-counter {
    transform: translateY(0);
  }
}

.custom-carousel-control-left::before {
  position: absolute;
  content: "";
  left: 0;
  top: -15px;
  width: 30px;
  height: 30px;
  border-style: solid;
  border-width: 8px 0px 0px 8px;
  border-color: $primary;
  transform: rotate(-45deg);
  opacity: 0.5;
  transition: opacity 0.35s;
}

.custom-carousel-control-left:hover::before {
  opacity: 1;
}
.custom-carousel-control-left::after {
  position: absolute;
  content: "";
  left: -10px;
  top: -22px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.custom-carousel-control-right::before {
  position: absolute;
  content: "";
  right: 0;
  top: -15px;
  width: 30px;
  height: 30px;
  border-style: solid;
  border-width: 8px 0px 0px 8px;
  border-color: $primary;
  transform: rotate(135deg);
  opacity: 0.5;
  transition: opacity 0.35s;
}

.custom-carousel-control-right:hover::before {
  opacity: 1;
}
.custom-carousel-control-right::after {
  position: absolute;
  content: "";
  right: -10px;
  top: -22px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
